<%= render "layouts/error_messages", :target => @operador %>

  <div class="control-group">
    <%= f.label :nome, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nome, :class => 'text_field span6' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'text_field span4' %>
    </div>
  </div>
<div class="control-group">
  <%= f.label :tipo_operador, "Tipo de Operador", :class => 'control-label' %>
  <div class="controls">
    <label class="radio">
      <%= f.radio_button :tipo_operador, Usuario::MODERADOR, :checked => true %>
      <%= f.label :tipo_operador_5, 'Moderador' %>
      <%= f.radio_button :tipo_operador, Usuario::ADMINISTRADOR %>
      <%= f.label :tipo_operador_8, 'Administrador' %>
      <% unless f.object.new_record? %>
          <%= f.radio_button :tipo_operador, Usuario::OPERADOR_INATIVO %>
          <%= f.label :tipo_operador_0, 'Desativado' %>
      <% end %>
    </label>
  </div>
</div>
<div class="form-actions">
  <%= link_to "Cancelar e Voltar", 'javascript:history.back()', :class => 'btn' %>
  <%= f.submit "Salvar", :class => 'btn btn-success' %>
</div>

