<div class="row-fluid">
  <%= render "menu" %>
  <div class="span10">
    <div class="page-header">
      <h1>Listagem de Operadores</h1>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>E-mail</th>
          <th>Tipo/Situação do Operador</th>
          <th>Data de Cadastro</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <% @operadores.each do |operador| %>
          <tr>
            <td><%= "##{operador.id}" %></td>
            <td><%= operador.nome %></td>
            <td><%= operador.email %></td>
            <td><%= badge_de_tipo_ou_situacao(operador.tipo_operador) %></td>
            <td><%= I18n.l operador.created_at %></td>
            <td>
              <%= link_to "Editar", edit_operador_path(operador), :class => 'btn btn-primary btn-mini'  %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>