<div class="row-fluid">
  <%= render "menu" %>
  <div class="span10">
    <div class="page-header">
      <h1>Listagem de Operadores</h1>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>E-mail</th>
          <th>Situação</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <% @operadores.each do |operador| %>
          <tr>
            <td><%= link_to "##{operador.usuario.id}", operador_path(operador) %></td>
            <td><%= operador.usuario.nome %></td>
            <td><%= operador.usuario.email %></td>
            <td><%= decodificar(operador.situacao) %></td>
            <td>
              <%= link_to "Detalhar", operador_path(operador), :class => 'btn btn-info btn-mini'  %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>