<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => "form-horizontal"}) do |f| %>
<div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
<%= devise_error_messages! %>
</div>

<div class="control-group">
	<%= f.label :nome, :class => "control-label" %>
	<div class="controls">
		<%= f.text_field :nome %>
	</div>
</div>

<div class="control-group">
	<%= f.label :email , :class => "control-label"%>
	<div class="controls">
		<%= f.email_field :email %>
	</div>
</div>

<div class="control-group">
	<%= f.label :password, :class => "control-label" %>
	<div class="controls">
		<%= f.password_field :password %>
	</div>
</div>

<div class="control-group">
	<%= f.label :password_confirmation, :class => "control-label" %>
	<div class="controls">
		<%= f.password_field :password_confirmation %>
	</div>
</div>

<div class="control-group" id="accordion2">

	<div id="collapseOne" class="collapse in">
		<%= f.label :numero_do_telefone, :class => "control-label" %>
		<div class="controls">
			<%= f.text_field :numero_do_telefone %>
		</div>
		<div class="controls">
			<a data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo"> DengueApp está instalado em um tablet </a>
		</div>
	</div>

	<div id="collapseTwo" class="collapse">
		<%= f.label :identificador_do_hardware, :class => "control-label" %>

		<div class="controls">
			<%= f.text_field :identificador_do_hardware %>
		</div>
		<div class="controls">
			<a data-toggle="collapse" data-parent="#accordion2" href="#collapseOne"> DengueApp está instalado em um telefone </a>
		</div>
	</div>

</div>

<div class="control-group">
	<%= f.label :codigo_de_verificacao, :class => "control-label" %>
	<div class="controls">
		<%= f.text_field :codigo_de_verificacao %>
	</div>
</div>

<div class="control-group">
	<div class="controls">
		<%= f.submit "Cadastrar", :class => "btn btn-success btn-large", :disable_with => "Cadastrando..."%>
	</div>
</div>
<% end %>