<div class="row-fluid">
<div class="span8">
  <h4>Alterar Dados da Minha Conta</h4>
  <hr>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= devise_error_messages! %>
        <fieldset>
          <%= f.label :nome %>
          <%= f.text_field :nome, :class => "input-xlarge" %>
          <%= f.label :email %>
          <%= f.email_field :email, :class => "input-xlarge"  %>
          <%= f.label :password %>
          <%= f.password_field :password, :class => "input-xlarge"  %>
          <span class="help-block">(deixe em branco caso não deseje alterar)</span>
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, :class => "input-xlarge"  %>
          <%= f.label :current_password %>
          <%= f.password_field :current_password, :class => "input-xlarge"  %>
          <span class="help-block">(precisamos que informe sua senha atual para confirmar as mudanças)</span>
          <%= f.submit "Salvar", :class => "btn btn-success" %>
        </fieldset>
  <% end %>
</div>
<div class="span4">
    <h4>Cancelar Conta</h4>
    <hr>
    No caso de cancelamento da conta:<br>
    <ul>
      <li>todas as suas denúncias ativas serão colocadas como canceladas e não serão mais visíveis para outros usuários</li>
      <li>você ainda poderá publicar novas denúncias</li>
      <li>seus dispositivos associados não poderão ser usados por outros usuários - se quiserem associar esses dispositivos, terão que ou formatar o aparelho, ou reinstalar a aplicação, ou trocar o número de telefone</li>
      <li>poderá voltar a usar o DengueApp a qualquer momento</li>
    <% if usuario_atual.administrador? or usuario_atual.moderador? %>
      <li>como você possui um perfil com funções administrativas, estas também serão desativadas.</li>
    <% end %>
    </ul>
  <p><%= link_to "Desejo cancelar minha conta", cancelar_usuario_registration_path(usuario_atual.id), :confirm => "Prosseguir?", :class => "btn btn-danger" %></p>

</div>
</div>