<div class="span2">
  <ul class="nav nav-list">
    <li class="nav-header">
      Operadores
    </li>
    <li class="<%= is_active?(moderadores_operadores_path) %>">
      <%= link_to "Moderadores", moderadores_operadores_path %>
    </li>
    <li class="<%= is_active?(administradores_operadores_path) %>">
      <%= link_to "Administradores", administradores_operadores_path %>
    </li>
    <li class="divider"></li>
    <li class="<%= is_active?(new_operador_path) %>">
      <%= link_to "Cadastrar Operador", new_operador_path %>
    </li>
  </ul>
</div>
