<div class="row-fluid">
  <%= render "menu" %>
  <div class="span10">
    <h4>Gerenciar Denunciantes</h4>
    <hr>
    <div class="row-fluid">
      <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
          <th colspan="3" style="text-align: center;">Dados do Dispositivo</th>
          <th colspan="3" style="text-align: center;">Dados do Denunciante</th>
          <th rowspan="2" style="text-align: center; vertical-align: middle;">Observações</th>
          <th rowspan="2" style="text-align: center; vertical-align: middle;">Ações</th>
        </tr>
        <tr>
          <th style="text-align: center;">ID</th>
          <th style="text-align: center;">Data de Cadastro</th>
          <th style="text-align: center;">Situação</th>
          <th style="text-align: center;">ID</th>
          <th style="text-align: center;">Data de Cadastro</th>
          <th style="text-align: center;">Situação</th>
        </tr>
        </thead>
        <tbody>
        <% @denunciantes.each do |d| %>
            <tr>
              <td><%= "##{d.id}" %></td>
              <td style="text-align: center;"><%=I18n.l d.created_at %></td>
              <td style="text-align: center;"><%= badge_de_situacao_de_dispositivo(d.situacao) %></td>
              <% if d.usuario %>
              <td style="text-align: center;"><%= "##{d.usuario_id}" %></td>
              <td style="text-align: center;"><%= I18n.l d.usuario.created_at %></td>
              <td style="text-align: center;"><%= badge_de_situacao_de_usuario(d.usuario.denunciante_situacao) %></td>
              <% else %>
                <td colspan="3" style="text-align: center;">Não há usuário vinculado</td>
              <% end %>
              <td style="text-align: center;">
                <% if d.banivel? or (d.usuario and d.usuario.banivel?) %>
                    <span class='badge badge-warning'>Banível</span>
                <% else %>
                    &nbsp;
                <% end %>
              </td>
              <td style="text-align: right;">
                <% if d.usuario %>
                    <%= link_to "Banir Usuário", banir_denunciantes_path(:usuario_id => d.usuario), :class => 'btn btn-danger btn-mini' if d.usuario.banivel? %>
                    <%= link_to "Ver Denúncias do Usuário", denuncias_path(:usuario_id => d.usuario_id), :class => 'btn btn-mini btn-primary' %>
              <% else %>
                    <%= link_to "Banir Dispositivo", banir_denunciantes_path(:dispositivo_id => d), :class => 'btn btn-danger btn-mini' if d.banivel? %>
                    <%= link_to "Ver Denúncias do Dispositivo", denuncias_path(:dispositivo_id => d.id), :class => 'btn btn-mini btn-primary' %>
              <% end %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
  </div>
</div>
</div>