<div class="thumbnail" style="background: none;">
  <div style="cursor: url(/icone_lupa.gif),auto">
    <a style="cursor: url(/icone_lupa.gif),auto" href=<%="#myModal#{denuncia.id}"%> data-toggle="modal" ><%= image_tag denuncia.foto.url, {:style => "width: 240px"} %></a>
  </div>
  <div class="caption">
    <h4>
      Denúncia #<%= denuncia.id %>
      <%= badge_de_situacao(denuncia.situacao) %>
    </h4>
    <p style="color: black;">Enviada em <%= I18n.l denuncia.data_e_hora %></p>
        <p>
          <% if current_user and (current_user.administrador? or current_user.moderador?) %>
             <% dispositivo_id = denuncia.dispositivo_id if denuncia.dispositivo.usuario_id.blank? %>
            <%= link_to "Ver denúncias deste denunciante", denuncias_path(:dispositivo_id => dispositivo_id, :usuario_id => denuncia.dispositivo.usuario_id), :class => "btn btn-mini btn-inverse" %>
          <% end %>
          <% if current_ability.can? :ativar, denuncia %>
            <%= link_to "Reativar", denuncia_update_situacao_path(denuncia, :situacao => Denuncia::ATIVA), :class => "btn btn-mini btn-success" %>
          <% end %>
          <% if current_ability.can? :rejeitar, denuncia %>
            <%= link_to "Rejeitar", denuncia_update_situacao_path(denuncia, :situacao => Denuncia::REJEITADA), :class => "btn btn-mini btn-danger" %>
          <% end %>
          <% if current_ability.can? :cancelar, denuncia %>
              <%= link_to "Cancelar", denuncia_update_situacao_path(denuncia, :situacao => Denuncia::CANCELADA), :class => "btn btn-mini btn-warning" %>
          <% end %>
          <% if current_ability.can? :resolver, denuncia %>
            <%= link_to "Resolver", denuncia_update_situacao_path(denuncia, :situacao => Denuncia::RESOLVIDA), :class => "btn btn-mini btn-success" %>
          <% end %>
        </p>
  </div>
</div>
