<div id=<%= "myModal#{d.id}" %> class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby=<%= "myModalLabel#{d.id}" %> aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Detalhes da Denúncia #<%= d.id%></h3>
  </div>
  <div class="modal-body">
    <%= image_tag denuncia.foto.url %><br />
    <p>Publicada <%= Date.today-d.data_e_hora.to_date %> dia(s) atrás.</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Fechar</button>
  </div>
</div>