<h1>Minhas denuncias</h1>

<table>
  <tr>
    <th>Data e hora</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Situacao</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @minhas_denuncias.each do |denuncia| %>
  <tr>
    <td><%= denuncia.data_e_hora %></td>
    <td><%= denuncia.latitude %></td>
    <td><%= denuncia.longitude %></td>
    <td><%= denuncia.situacao %></td>
    <td><%= link_to 'Show', denuncia %></td>
    <td><%= link_to 'Edit', edit_denuncia_path(denuncia) %></td>
    <td><%= link_to 'Destroy', denuncia, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Denuncia', new_denuncia_path %>
