<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
      <div class="container-fluid">
      <!-- LINKS -->
      <%= link_to "DengueApp", root_path, :class => "brand" %>
      <div class="nav-collapse collapse" style="height: 0px;">
      <ul class="nav">
        <li><%= link_to "Estatísticas", estatisticas_denuncias_path %></li>
        <% if usuario_atual %>
          <li><%= (link_to "Gerenciar Denúncias", denuncias_path) if can? :index, Denuncia %></li>
          <li><%= (link_to "Gerenciar Operadores", operadores_path) if can? :index, Operador%></li>
          <li><%= (link_to "Todas as Denúncias", home_denunciante_path) if can? :minhas_denuncias, Denuncia%></li>
          <li><%= (link_to "Minhas Denúncias", denuncias_path(:usuario_id => usuario_atual.id)) if can? :minhas_denuncias, Denuncia %></li>
          <li><%= (link_to "ivos", dispositivos_path if current_user.denunciante?)%></li>
        <% end %>
      </ul>
      <!-- BOX DE LOGIN E SAIR-->
      <ul class="nav pull-right">
           <li><%= link_to ("Sobre a Aplicação"), conheca_a_aplicacao_path %></li>
           <li><%= link_to("Download", download_path) %></li>
           <li><%= link_to("Contato","https://docs.google.com/spreadsheet/viewform?fromEmail=true&formkey=dGloOVpIUThNN0tWWkhwZWNJQkl3ekE6MQ") %></li>
      <% if usuario_atual %>
          <li><%= link_to('Sair', destroy_usuario_session_path, :method => :delete) %></li>
      <% else %>
        <li><%= link_to('Acompanhar Minhas Denúncias', new_usuario_session_path)%></li>
      <% end %>
      </ul>
      </div>
      </div>
      
  </div>
</div>