<!DOCTYPE html>
<html>
  <head>
    <title>DengueApp</title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= stylesheet_link_tag 'gmaps4rails' %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
      
      <%= render "layouts/navbar" %>
      <div class="container-fluid">
      <!-- MENSAGENS FLASH -->
      
      <% flash.each do |type, message| -%>
        <% type = "info" if type == :notice %>
        <% type = "error" if type == :alert %>
        <div class="alert alert-<%= type %>">
          <a class="close" data-dismiss="alert" href="#">x</a>
          <%= message %>
        </div>
      <% end %>
      <!-- CONTEUDO DA PAGINA -->
      
      <%= yield %>

      </div>
      
  <%= yield :scripts %>
</body>
</html>
